<div class="row">
    <div class="col-lg-12 mb-3">
        <div class="data-block">
            <div class="data-block-inner">
                <div class="data-block-inner_inset">
                    <div class="data-block-inner_inset-top">
                        <div class="data-block-inner_inset-top_left">
                            <h5 class="mb-0">General</h5>
                            <label class="text-muted" for="">Aspectos generales de la aplicación</label>
                        </div>
                    </div>
                    <div class="data-block-inner_inset-input-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <form action="">
                                    <div class="form-group mb-3">
                                        <label for="">Monto Mínimo (RD)</label>
                                        <input type="number" class="form-control" placeholder="3000">
                                        <label for="" class="text-danger">Monto mínimo debe ser mayor que cero (0)</label>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="">Tasa de Interés</label>
                                        <input type="number" class="form-control" placeholder="0%">
                                        <label for="" class="text-danger">Tasa de interés debe ser mayor que cero (0)</label>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="">Penalidad por Atraso</label>
                                        <input type="number" class="form-control" placeholder="0%">
                                        <label for="" class="text-danger">Tasa de penalidad debe ser igual o mayor que cero (0)</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="data-block-inner_inset-input-group">
                        <div class="mb-3">
                            <h5 class="mb-0">Acceso</h5>
                            <label class="text-muted" for="">Modifique credenciales de acceso</label>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <form action="">
                                    <div class="form-group mb-3">
                                        <label for="">Email Administrativo</label>
                                        <input type="email" class="form-control" placeholder="sample@gmail.com">
                                        <label for="" class="text-danger">Formato de email inválido</label>
                                        <label for="" class="text-success">Formato de email correcto</label>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="">Confirme el nuevo Email Administrativo</label>
                                        <input type="email" class="form-control" placeholder="sample@gmail.com">
                                        <label for="" class="text-danger">Email no coincide</label>
                                        <label for="" class="text-success">Email confirmado</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="data-block-inner_inset-input-group">
                        <div class="mb-3">
                            <h5 class="mb-0">Contraseña</h5>
                            <label class="text-muted" for="">Modifique su contraseña administrativa</label>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <form action="">
                                    <div class="form-group mb-3">
                                        <label for="">Nueva Contraseña</label>
                                        <input type="password" class="form-control" placeholder="******">
                                        <label for="" class="text-danger">Contraseña muy débil</label>
                                        <label for="" class="text-success">Contraseña fuerte</label>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="">Confirmar Nueva Contraseña</label>
                                        <input type="password" class="form-control" placeholder="******">
                                        <label for="" class="text-danger">Las contraseñas no coinciden</label>
                                        <label for="" class="text-success">Contraseña confirmada</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="data-block-inner_inset-input-group">
                        <div class="mb-3">
                            <h5 class="mb-0">Autenticación 2FA</h5>
                            <label class="text-muted" for="">Modifique su autenticación de 2 factores (2FA)</label>
                        </div>
                        <!-- <div class="row">
                            <div class="col-lg-4">
                                <form action="">
                                    <div class="form-group mb-3">
                                        <label for="">Nueva Contraseña</label>
                                        <input type="password" class="form-control" placeholder="******">
                                        <label for="" class="text-danger">Contraseña muy débil</label>
                                        <label for="" class="text-success">Contraseña fuerte</label>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="">Confirmar Nueva Contraseña</label>
                                        <input type="password" class="form-control" placeholder="******">
                                        <label for="" class="text-danger">Las contraseñas no coinciden</label>
                                        <label for="" class="text-success">Contraseña confirmada</label>
                                    </div>
                                </form>
                            </div>
                        </div> -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>