<div class="row">
    <div class="col-lg-8 mb-3">
        <div class="data-block">
            <div class="data-block-inner">
                <div class="data-block-inner_inset">
                    <div class="data-block-inner_inset-top">
                        <div class="data-block-inner_inset-top_left">
                            <h5 class="mb-0">Prestamos</h5>
                        </div>
                        <div class="data-block-inner_inset-top_right">
                            <button class="btn btn-transparent">Generar Reporte</button>
                        </div>
                    </div>
                    
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Activos</th>
                                <th>Al dia</th>
                                <th>En Atraso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>45</td>
                                <td>36</td>
                                <td>9</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="data-block-inner_inset-bottom">
                        <button class="btn btn-transparent">Ver todo<i class="ri-arrow-right-s-line"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3">
        <div class="data-block">
            <div class="data-block-inner">
                <div class="data-block-inner_inset">
                    <div class="data-block-inner_inset-top">
                        <div class="data-block-inner_inset-top_left">
                            <h5 class="mb-0">Finanzas</h5>
                        </div>
                        <div class="data-block-inner_inset-top_right">
                            <button class="btn btn-transparent">Ver todo</button>
                        </div>
                    </div>
                    <div class="giant-btn">
                        <div class="giant-btn_text">
                            <h4 class="mb-0">$1,987,700</h4>
                            <label>Ingresos</label>
                        </div>
                        <div class="giant-btn_icon">
                            <i class="ri-arrow-right-s-line"></i>
                        </div>
                    </div>
                    <div class="giant-btn">
                        <div class="giant-btn_text">
                            <h4 class="mb-0">$205,359.23</h4>
                            <label>Pendiente</label>
                        </div>
                        <div class="giant-btn_icon">
                            <i class="ri-arrow-right-s-line"></i>
                        </div>
                    </div>
                    <div class="giant-btn">
                        <div class="giant-btn_text">
                            <h4 class="mb-0">$95,935.90</h4>
                            <label>En Atraso</label>
                        </div>
                        <div class="giant-btn_icon">
                            <i class="ri-arrow-right-s-line"></i>
                        </div>
                    </div>
                    <div class="data-block-inner_inset-bottom">
                        <button class="btn btn-transparent">Ver todo<i class="ri-arrow-right-s-line"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>