<div class="container-fluid h-100">
    <div class="centered h-100">
        <div class="login">
            <div class="login-brand">
                <h4>Microloan</h4>
            </div>
            <div class="login-form">
                <h5>Iniciar Sesion</h5>
                <hr>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email">
                    <label class="text-danger"><small>Emal invalido</small></label>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                    <label class="text-danger"><small>Contraseña Incorrecta</small></label>
                </div>
                <div class="form-group">
                    <button routerLink="/dashboard" class="btn btn-primary w-100">Ingresar</button>
                </div>
                <div class="form-group">
                    <div class="form-options">
                        <small>¿Olvido su contraseña?</small>
                        <small><a routerLink="">Recuperar Contraseña</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>